
<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// Update Marker
//
///////////////////////////////////////////////////////////////////////////////////////
-->
<div id="change-setting" class="mainDiv"> 
    <div class="card card-outline-secondary">
        <div class="card-header" id="headerUser">
            <h3 class="mb-0"> <a href="#"><a><img src="../img/settings.svg" class="svg icon header-icon"></a> {{title}}</h3>
        </div>
        <div class="card-body" id="cardBodySetting">
              
            <form class="form" id="settingsForm" role="form" autocomplete="off">    
                {{!-- ============================================ --}}
                {{!-- ============ Settings ================ --}}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">
                        <h5 class="mb-0">PDR</h5> 
                    </label>                          
                </div>                
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Palette</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-palette"></i></span>
                            </div>
                            <input type="color" class="form-control setting-color" id="x0x1" name="x0x1" value="{{settings.pdr.interval_x0x1.color}}">
                            <input type="color" class="form-control setting-color" id="x1x2" name="x1x2" value="{{settings.pdr.interval_x1x2.color}}"> 
                            <input type="color" class="form-control setting-color" id="x2x3" name="x2x3" value="{{settings.pdr.interval_x2x3.color}}"> 
                            <input type="color" class="form-control setting-color" id="x3x4" name="x3x4" value="{{settings.pdr.interval_x3x4.color}}">                                            
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Slider</label>
                    <div class="col-lg-9">
                        <div class="input-group form-group">
                            {{!-- <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-sliders-h"></i></span>
                            </div> --}}
                            <div id="PDR-slider" value="{{json settings}}" class="custom-slider"></div>
                            {{!-- <input type="number" class="form-control"  min="0" max="1" value="0" name="pdrthreshold" id="pdrthreshold" step=".01">                                               --}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Value</label>
                    <div class="col-lg-9">
                            <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-cog"></i></span>
                            </div>
                            <input type="number" min="0" max="100" step="0.001"  value="{{json settings.pdr.interval_x0x1.threashold}}" class="form-control PDR-segment-value">
                            <input type="number" min="0" max="100" step="0.001"  value="{{json settings.pdr.interval_x1x2.threashold}}" class="form-control PDR-segment-value">
                            <input type="number" min="0" max="100" step="0.001"  value="{{json settings.pdr.interval_x2x3.threashold}}" class="form-control PDR-segment-value">                                          
                        </div>
                    </div>
                </div>
                             
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="button" id="resetCluster" class="btn btn-secondary" value="Original Setting">
                        <input type="submit" class="btn btn-dark" value="Save">
                    </div>
                </div>
                {{!-- <p>RISULTATO: {{json settings.pdr.interval_x0x1}}</p> --}}
                {{!-- {"pdr":{"interval_x0x1":{"color":"#ff8080","threashold":25},"interval_x1x2":{"color":"#ff3333","threashold":50},"interval_x2x3":{"color":"#e60000","threashold":75},"interval_x3x4":{"color":"#990000"}}} --}}
            </form>
        </div>
    </div>
</div>
<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// Load Scripts
// REF: https://stackoverflow.com/a/28478146/4700162
//
///////////////////////////////////////////////////////////////////////////////////////
-->
<script>       
        $.getScript("../../js/util.js");
        $.getScript("../../js/form.js");
        $.getScript("../../js/map.js");
        $.getScript("../../js/settings.js");
</script>
 
