<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// Show Experiment
//
///////////////////////////////////////////////////////////////////////////////////////
-->
<div id="showExperiment" >
  <div class="card card-outline-secondary">
    <div class="card-header" id="headerExperiment">
      <h3 class="mb-0"> <a href="#"><a><img src="../img/multiusers.svg" class="svg icon header-icon"></a> {{title}}</h3>
    </div>
    <div class="card-body" id="cardBodyExperiment">
      {{#if experiments}}
      <table id="experiments-table" class="table"  style="width:100%" >
        <thead>
          <tr class="bg-dark text-white">
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">PDR</th>
            <th scope="col">Delay</th>
            <th scope="col">Throughput</th>
            <th scope="col">Latitude Server</th>
            <th scope="col">Longitude Server</th>
            <th scope="col">Created At</th>
            <th scope="col">Update At</th>
          </tr>
        </thead>
        <tbody>
          {{#each experiments}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this._id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.latitude}}</td>
            <td>{{this.longitude}}</td>
            <td>{{this.metrics.pdr}}</td>
            <td>{{this.metrics.delay}}</td>
            <td>{{this.metrics.throughput}}</td>
            <td>{{this.latitudeServer}}</td>
            <td>{{this.longitudeServer}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.updatedAt}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <div class="p-3 mb-2 bg-dark text-white">No experiments yet</div>
      {{/if}}
    </div>
  </div>
</div>
<!-- 
///////////////////////////////////////////////////////////////////////////////////////
//
// Load Scripts
// REF: https://stackoverflow.com/a/28478146/4700162
//
///////////////////////////////////////////////////////////////////////////////////////
-->
<script>
  $.getScript("../../js/util.js");

  /**
    * Define a experiment table based on Data Table Plugin. 
    * REF: https://datatables.net/examples/styling/bootstrap4.html
    **/
  $('#experiments-table').DataTable({
    language: {
        searchPlaceholder: "Search experiment.."
    }
   
});
</script>