<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="../lib/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  {{#if success}}
  <h2>{{title}}</h2>
  <div class="alert alert-success">
    <strong>Success!: </strong> {{ message }}
  </div>
  {{else}}
  <h2>{{title}}</h2>
  <div class="alert alert-danger">
    <strong>Error!: </strong> {{ message }}
  </div>
  {{/if}}
  {{!-- <div class="alert alert-info">
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning">
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger">
    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
  </div> --}}
  <script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/map";
  }, 2000)
</script>
</div>

</body>
</html>